body {
  padding: 15pt;
}

.paragraph {
  padding-top: 10pt;
  line-height: 1.4;
}

.title {
  font-weight: bold;
}

.wide {
  clear: both;
}

.left-part {
  float: left;
}

.right-part {
  float: right;
}

.half-part {
  width: 50%;
}

.tile {
  float: left;
  padding-right: 10pt;
}

.heading #name {
  font-size: xx-large;
}

#contact-info {
  text-align: right;
}

#cover {
  box-sizing: border-box;
  width: 70%;
  padding-right: 15pt;
}

#summary {
  width: 30%;
}
