body {
  height: 100%;
  padding: 2%;
}

.article {
  clear: both;
}

.paragraph {
  padding-top: 10pt;
  line-height: 1.4;
}

.title {
  font-weight: bold;
}

.wide {
  clear: both;
}

.left-part {
  float: left;
  padding-right: 1%;
}

.right-part {
  float: right;
}

.tile {
  float: left;
  padding-right: 10pt;
}

.heading #name {
  font-size: xx-large;
}

#contact-info {
  float: right;
  width: 28%;
  text-align: right;
}

#cover {
  width: 70%;
}

#summary {
  width: 29%;
}
